# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales (en cualquier subcarpeta)
venv/
.venv/
ENV/
.env
env/
*/venv/
*/.venv/
*/ENV/
*/env/

# Node
node_modules/

# Logs
*.log

# IDEs
.vscode/
.idea/
